.topo{
    height: 70px;
    margin: 30px 0;
    
}

.rodape{
    height: 70px;
    right: 50%;
    position:absolute;
    
}

.main{
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    padding: 20px;
    border-radius: 10px;
}